<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/s.png">
        <p>This site is created by suraj kumar. It uses data from mapbox.com and api.weatherstack.com</p>
    </div>
    
    {{>footer}}
</body>

</html>