<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        
        <p>For help drop an e-mail @ surajkumar58627@gmail.com. Thank you for visiting my website</p>
        
    </div>
    
    {{>footer}}
</body>

</html>